<%- include("partials/header.ejs") %>
    <body>
        <div class="slideshow-container" id="slideshow">
            <div class="logo-container">
                <h1 id="logo">GLAMORA</h1>
            </div>
            <div id="button-container">
                <p id="slogan">Throw em' in your bag</p><br>
                <button id="scroll-button" class="black-button">SHOP NOW →</button>
            </div>
        </div>
        <h1>Choose a product type</h1>
        <form method="get" class="cards-container">
            <button style="background-image: url('/images/productType/blush.jpeg');" class="card-container productType" type="submit" value="blush" name="type" formaction="/secret">Blush</button>
            <button style="background-image: url('/images/productType/bronzer.jpeg');" class="card-container productType" type="submit" value="bronzer" name="type" formaction="/secret">Bronzer</button>
            <button style="background-image: url('/images/productType/eyebrow.jpeg');" class="card-container productType" type="submit" value="eyebrow" name="type" formaction="/secret">Eyebrow</button>
            <button style="background-image: url('/images/productType/eyeliner.jpeg');" class="card-container productType" type="submit" value="eyeliner" name="type" formaction="/secret">Eyeliner</button>
            <button style="background-image: url('/images/productType/eyeshadow.jpeg');" class="card-container productType" type="submit" value="eyeshadow" name="type" formaction="/secret">Eyeshadow</button>
            <button style="background-image: url('/images/productType/foundation.jpeg');" class="card-container productType" type="submit" value="foundation" name="type" formaction="/secret">Foundation</button>
            <button style="background-image: url('/images/productType/lipliner.jpeg');" class="card-container productType" type="submit" value="lip_liner" name="type" formaction="/secret">Lipliner</button>
            <button style="background-image: url('/images/productType/lipstick.jpeg');" class="card-container productType" type="submit" value="lipstick" name="type" formaction="/secret">Lipstick</button>
            <button style="background-image: url('/images/productType/mascara.jpeg');" class="card-container productType" type="submit" value="mascara" name="type" formaction="/secret">Mascara</button>
            <button style="background-image: url('/images/productType/nailpolish.jpeg');" class="card-container productType" type="submit" value="nail_polish" name="type" formaction="/secret">Nail Polish</button>

        </form>
        <span>
            <% if(locals.content){ %>
                <%= content %>
                <% } %>
        </span>

        <script>
            const slideshowContainer = document.getElementById('slideshow');

            const images = [
                'url(/images/slideshow/img2.jpeg)',
                'url(/images/slideshow/img3.jpeg)',
                'url(/images/slideshow/img4.jpeg)',
                'url(/images/slideshow/img5.jpeg)',
            ];

            let currentIndex = 0;

            function changeBackground() {
                slideshowContainer.style.backgroundImage = images[currentIndex];
                currentIndex = (currentIndex + 1) % images.length;
            }

            setInterval(changeBackground, 8000);
            changeBackground();

            document.getElementById('scroll-button').addEventListener('click', () => {
            window.scrollTo({
                top: window.innerHeight,
                behavior: 'smooth'
            });
        });

        </script>
    </body>
</html>